h4, p, ul {
    margin: 0;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

.header_wrapper {
    background: #FFFFFF;
    border: 1px solid #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50px;
}

#menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
    list-style-type: none;
}

#menu li {
    margin-right: 10px;
    font-size: 35px;
    font-family: Neue Helvetica, serif;
    color: black;
}

.menu_list__link {
    text-decoration: none;
    outline: none;
    text-align: center;
    line-height: 3;
    color: black;
    width: 100%;
    height: 100%;
}

.menu_list__link, .menu_list__link:visited, .menu_list__link:focus {
    color: #0095f6;
}

.menu_list__link:hover {
    color: #005af6;
}

.menu_list__link:active {
    color: #120be5;
}

.form__field {
    font-size: 25px;
    font-family: Neue Helvetica, serif;
}

.words-page__container {
    background: #FAFAFA;
    width: 100%;
    height: 100%;
    min-height: 1180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.words-page-content__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: 80%;
    margin-top: 30px;
    padding: 10px;
    min-height: 1180px;
    background: #FAFAFA;
}

.word_container {
    min-width: 900px;
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 20px;
}

.words-form__container {
    background: white;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 90%;
    border-radius: 20px;
}

.form-field__wrapper{
    display: flex;
    margin: 5px;
}

.form-field__wrapper p, .form-field__wrapper input {
    padding: 2px;
}

.form-field__wrapper p{
    width: 130px;
}

.words-form input {
    height: 45px;
    border: solid 1px #dbdbdb;
    padding: 3px 10px 3px 26px;
}

.words-form button {
    border: 0;
    color: #0095f6;
    background-color: inherit;
    font-size: 30px;
    font-family: Neue Helvetica, serif;;
}

.words-form button:hover {
    color: #005af6;
}

.words-form button:active, .words-form button:focus {
    color: #120be5;
    border: none;
    outline: none;
}

.word_item {
    font-size: 25px;
    font-family: Neue Helvetica, serif;
}

.words-input__container{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 40%;
}

.add-words-textarea-form__container{
    width: 90%;
    margin-right: 50px;
    margin-bottom: 50px;
    background: white;
    border-radius: 20px;
}

.add-words-textarea-form__container textarea {
    margin: 10px;
    width: 92%;
    border: solid 1px #dbdbdb;
    padding: 3px 10px 3px 26px;
    resize: vertical;
    max-height: 500px;
}

.add-words-textarea-form__container button{
    border: 0;
    color: #0095f6;
    background-color: inherit;
    font-size: 30px;
    font-family: Neue Helvetica, serif;;
}

.add-words-textarea-form__container button:hover{
    color: #005af6;
}

.add-words-textarea-form__container button:active, .add-words-textarea-form__container button:focus {
    color: #120be5;
    border: 0;
    outline:none;
}

.page-item.active .page-link {
    background-color: #FAFAFA !important;
    /*border: 1px solid black;*/
}
.page-link {
    color: black !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.play-button {
    background-image: url(/svg/play.svg);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    width: 30px;
    height: 30px;
}

.table-body__text {
    font-size: 18px;
    font-family: Neue Helvetica, serif;
}

.table-head__text {
    font-size: 21px;
    font-family: Neue Helvetica, serif;
}

#all-words__table {
    table-layout: fixed;
    word-wrap: break-word;
}

.play-button__link{
    height: 100%;
    width: 100%;
}
