<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/css/words.css}" rel="stylesheet"/>
    <link th:href="@{/css/normalize.css}" rel="stylesheet"/>
</head>
<body>

<div class="header_wrapper">
    <ul id="menu">
        <li class="menu_list__item"><a class="menu_list__link" href="/words">All words</a></li>
        <li class="menu_list__item"><a class="menu_list__link" href="/pages">Pages</a></li>
    </ul>
</div>

<div class="words-page__container">

    <div class="words-page-content__container">

        <div class="word_container">

            <form id="word-edit-form" th:object="${wordEditForm}" th:action="@{/words/edit}" method="post" enctype="multipart/form-data">
                <div class="form-group row">
                    <div>
                        <input th:field="*{value}" type="text" th:value="${word.value}">
                        <input th:field="*{id}" type="hidden">
                    </div>
                </div>
                <div>
                    <button id="edit-word-submit" type="submit">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>

</body>
</html>
