<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
          crossorigin="anonymous"/>
    <link th:href="@{/css/words.css}" rel="stylesheet"/>
    <link th:href="@{/css/normalize.css}" rel="stylesheet"/>

    <link href=https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css rel=stylesheet>
    <link href=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/css/dataTables.bootstrap.min.css rel=stylesheet>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link th:src="@{css/bootstrap.min.css}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link th:src="@{css/mdb.min.css}" rel="stylesheet">
</head>
<body>
<div class="header_wrapper">
    <ul id="menu">
        <li class="menu_list__item"><a class="menu_list__link" href="/words">All words</a></li>
        <li class="menu_list__item"><a class="menu_list__link" href="/pages">Pages</a></li>
    </ul>
</div>

<div class="words-page__container">

    <div class="words-page-content__container">

        <div class="words-input__container">
            <div class="words-form__container">
                <form autocomplete="off" class="words-form" action="#" th:action="@{/words}" th:object="${word}" method="post">
                    <input autocomplete="false" name="hidden" type="text" style="display:none;">
                    <div class="form-field__wrapper">
                        <p class="form__field">Word: </p>
                        <input type="text" th:field="*{value}"/>
                    </div>

                    <div class="form-field__wrapper">
                        <p class="form__field">Translation: </p>
                        <input type="text" th:field="*{translation}"/>
                    </div>
                    <div class="form-field__wrapper">
                        <p class="form__field">Page: </p>
                        <input type="text" th:field="*{page}"/>
                    </div>
                    <button type="submit">Save</button>
                </form>
            </div>

            <div class="add-words-textarea-form__container">
                <textarea rows="8" cols="120" name="words" form="add-words__form"></textarea>
                <form method="POST" enctype="multipart/form-data" th:action="@{/words/saveAll}" id="add-words__form">
                    <button type="submit" name="action" value="submitlines">Save All</button>
                </form>
            </div>
        </div>

        <div class="word_container">

            <div class="words-control-buttons__container">
                <button type="button" th:onclick="|window.location.href='/words'|"> All words</button>
                <button type="button" th:onclick="|window.location.href='/words/filtered/learned'|"> Already Learned words</button>
                <button type="button" th:onclick="|window.location.href='/words/filtered/new'|"> New words</button>
            </div>

            <table class="table table-hover" id="all-words__table">
                <thead>
                <tr>
                    <th class="table-head__text" scope="col">Word</th>
                    <th class="table-head__text" scope="col">Translation</th>
                    <th class="table-head__text" scope="col">Pronunciation</th>
                    <th class="table-head__text" scope="col">Number of occurrences</th>
                    <th class="table-head__text" scope="col">Page</th>
                    <th class="table-head__text" scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="w : ${words}">
                    <tr>
                        <td class="table-body__text" th:text="${w.value}" th:attr="onClick='editWord(\'' + ${w}+  '\');'"></td>
                        <td class="table-body__text" th:text="${w.translation}"></td>
                        <td>
                            <div class="play-button" style="cursor: pointer;" th:attr="onClick='openPronunciation(\'' + ${w.value}+  '\');'">
                                &nbsp;
                            </div>
                        </td>
                        <td class="table-body__text" th:text="${w.occurrences}"></td>
                        <td class="table-body__text" th:text="${#strings.listJoin(w.pages, ', ')}"></td>
                        <td>
                            <select class="form-control selectpicker table-body__text"
                                    th:attr="onChange='updateStatus(this,  event ,  \'' + ${w.value}+  '\');'">
                                <option class="invalid-ticket-status__option" th:value="'LEARNED'"
                                        th:text="Learned"
                                        th:selected="${w.status == 'Learned'}"></option>
                                <option class="invalid-ticket-status__option" th:value="'NEW'"
                                        th:text="'New'"
                                        th:selected="${w.status == 'New'}"></option>
                            </select>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>

    </div>
</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>

<script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap.min.js></script>

<!-- SCRIPTS -->
<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript" th:src="@{/js/datatables.min.js}"></script>
<!-- Bootstrap tooltips -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js" integrity="sha512-7yA/d79yIhHPvcrSiB8S/7TyX0OxlccU8F/kuB8mHYjLlF1MInPbEohpoqfz0AILoq5hoD7lELZAYYHbyeEjag==" crossorigin="anonymous"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>

<script type="text/javascript" th:src="@{/js/words.js}"></script>
</body>
</html>
